.auto-class-settings {
  /* Add new input */
  &__input-container {
    display: flex;
    align-items: center;
    input {
      flex-grow: 1;
    }
    margin-bottom: 8px;
  }
  &__folder-button,
  &__path-button {
    margin-left: 0;
    margin-right: 8px;
  }
  &__add-button {
    margin-left: 8px;
    margin-right: 0;
  }

  /* Match list */
  &__match-list {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
  }
  &__match-group {
    min-height: 40px;
  }
  &__match-group-header {
    display: flex;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    svg {
      vertical-align: middle;
    }
  }
  &__match-group-collapse-button {
    cursor: pointer;
    padding: 0px 4px;
    color: var(--text-faint);
    margin-right: 6px;
  }
  &__match-group-name {
    flex-grow: 1;
  }
  &__match-group-list {
    padding-inline-start: 20px;
    &.collapsed {
      max-height: 0px;
      overflow: hidden;
    }
  }
  &__match-list-item {
    display: flex;
    transition: background-color 150ms ease;
    padding: 4px;
    margin: 2px 0px;
    border-radius: 4px;
    svg {
      vertical-align: middle;
    }
    &:hover {
      background-color: var(--background-primary);
    }
  }
  &__match-type,
  &__match-scope {
    padding: 0px 4px;
    color: var(--text-faint);
  }
  &__match-scope {
    margin-right: 6px;
  }
  &__match-list-path {
    flex-grow: 1;
  }
  &__match-list-control {
    margin-left: 8px;
    cursor: pointer;

    &:hover {
      color: var(--text-accent-hover);
    }

    &.auto-class-settings__match-list-drag-handle {
      cursor: grab;
    }
  }

  /* Drag styling */
  &__drag-target {
    background-color: var(--interactive-hover);
  }
  &__drag-ghost {
    opacity: 0;
  }
}
