.auto-class-settings {
  &__inputs-wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
  }
  &__add-group-input {
    grid-column: span 2;
  }

  /* Rule list */
  &__rule-list {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
  }
  &__rule-group {
    min-height: 40px;
  }
  &__rule-group-header {
    display: flex;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    svg {
      vertical-align: middle;
    }
  }
  &__rule-group-collapse-button {
    cursor: pointer;
    padding: 0px 4px;
    color: var(--text-faint);
    margin-right: 6px;
  }
  &__rule-group-name {
    flex-grow: 1;
  }
  &__rule-group-list {
    padding-inline-start: 20px;
    &.collapsed {
      max-height: 0px;
      overflow: hidden;
    }
  }
  &__rule-list-item {
    display: flex;
    transition: background-color 150ms ease;
    padding: 4px;
    margin: 2px 0px;
    border-radius: 4px;
    svg {
      vertical-align: middle;
    }
    &:hover {
      background-color: var(--background-primary);
    }
  }
  &__rule-type,
  &__rule-scope {
    padding: 0px 4px;
    color: var(--text-faint);
  }
  &__rule-scope {
    margin-right: 6px;
  }
  &__rule-list-path {
    flex-grow: 1;
  }
  &__rule-list-control {
    margin-left: 8px;
    cursor: pointer;

    &:hover {
      color: var(--text-accent-hover);
    }

    &.auto-class-settings__rule-list-drag-handle {
      cursor: grab;
    }
  }

  /* Drag styling */
  &__drag-target {
    background-color: var(--interactive-hover);
  }
  &__drag-ghost {
    opacity: 0;
  }
}
